# Compile with:
#   .venv/bin/python -m piptools compile --no-strip-extras requirements.in --output-file requirements.txt
#
# This file should contain only direct runtime dependencies.

Django<6.0
drf-spectacular<1.0
djangorestframework<4.0
django-filter<26
django-tables2<3
psycopg<4
cryptography<47
PyJWT<3
django-rq<4
rq<3
