[data-bs-theme='light'],
:root {
  --tblr-primary: #0d6efd;
  --tblr-primary-rgb: 13, 110, 253;
  --tblr-primary-fg: #ffffff;
  --tblr-primary-text-emphasis: #031633;
  --tblr-primary-bg-subtle: #cfe2ff;
  --tblr-primary-border-subtle: #9ec5fe;
  --tblr-secondary: #6c757d;
  --tblr-secondary-rgb: 108, 117, 125;
  --tblr-success: #198754;
  --tblr-success-rgb: 25, 135, 84;
  --tblr-info: #0dcaf0;
  --tblr-info-rgb: 13, 202, 240;
  --tblr-warning: #ffc107;
  --tblr-warning-rgb: 255, 193, 7;
  --tblr-danger: #dc3545;
  --tblr-danger-rgb: 220, 53, 69;
  --tblr-light: #f8f9fa;
  --tblr-light-rgb: 248, 249, 250;
  --tblr-dark: #212529;
  --tblr-dark-rgb: 33, 37, 41;
  --tblr-gray-50: #f8f9fa;
  --tblr-gray-100: #f8f9fa;
  --tblr-gray-200: #e9ecef;
  --tblr-gray-300: #dee2e6;
  --tblr-gray-400: #ced4da;
  --tblr-gray-500: #adb5bd;
  --tblr-gray-600: #6c757d;
  --tblr-gray-700: #495057;
  --tblr-gray-800: #343a40;
  --tblr-gray-900: #212529;
  --tblr-blue: #0d6efd;
  --tblr-blue-rgb: 13, 110, 253;
  --tblr-indigo: #6610f2;
  --tblr-indigo-rgb: 102, 16, 242;
  --tblr-purple: #6f42c1;
  --tblr-purple-rgb: 111, 66, 193;
  --tblr-pink: #d63384;
  --tblr-pink-rgb: 214, 51, 132;
  --tblr-red: #dc3545;
  --tblr-red-rgb: 220, 53, 69;
  --tblr-orange: #fd7e14;
  --tblr-orange-rgb: 253, 126, 20;
  --tblr-yellow: #ffc107;
  --tblr-yellow-rgb: 255, 193, 7;
  --tblr-green: #198754;
  --tblr-green-rgb: 25, 135, 84;
  --tblr-teal: #20c997;
  --tblr-teal-rgb: 32, 201, 151;
  --tblr-cyan: #0dcaf0;
  --tblr-cyan-rgb: 13, 202, 240;
  --tblr-body-bg: #ffffff;
  --tblr-body-bg-rgb: 255, 255, 255;
  --tblr-body-color: #343a40;
  --tblr-body-color-rgb: 52, 58, 64;
  --tblr-emphasis-color: #212529;
  --tblr-emphasis-color-rgb: 33, 37, 41;
  --tblr-secondary-color: #6c757d;
  --tblr-secondary-color-rgb: 108, 117, 125;
  --tblr-link-color: #0d6efd;
  --tblr-link-color-rgb: 13, 110, 253;
  --tblr-link-hover-color: #0a58ca;
  --tblr-link-hover-color-rgb: 10, 88, 202;
  --tblr-border-color: #dee2e6;
  --tblr-border-color-translucent: rgba(33, 37, 41, 0.08);
  --tblr-focus-ring-color: rgba(13, 110, 253, 0.25);
  --tblr-gradient: none;
  --tblr-bg-surface: #ffffff;
  --tblr-bg-surface-secondary: #ffffff;
  --tblr-bg-surface-tertiary: #f8f9fa;
  --tblr-bg-surface-dark: #e9ecef;
  --tblr-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --tblr-box-shadow-card: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.06);
  --tblr-box-shadow-dropdown: 0 0.5rem 1rem rgba(0, 0, 0, 0.12);
  --tblr-box-shadow-input: 0 1px 2px rgba(33, 37, 41, 0.06);
  --tblr-navbar-active-bg: #cfe2ff;
  --tblr-navbar-active-border-color: #0d6efd;
  --tblr-navbar-active-color: #212529;
  --tblr-navbar-brand-color: #212529;
  --tblr-navbar-brand-hover-color: #212529;
  --tblr-navbar-color: #343a40;
  --tblr-navbar-hover-color: #212529;
  --tblr-nav-link-color: #6c757d;
  --tblr-sidenav-link-color: #343a40;
  --tblr-navbar-toggler-border-color: rgba(33, 37, 41, 0.12);
}
