{% if request.user.is_authenticated %}
  <div class="nav-item dropdown">
    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
      <div class="d-xl-block ps-2">
        <div>{{ request.user.display_name|default:request.user.username }}</div>
        <div class="mt-1 small text-secondary">
          {% if request.user.is_staff or request.user.is_superuser %}
            Staff
          {% else %}
            User
          {% endif %}
        </div>
      </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
      <a href="{% url 'profile' %}" class="dropdown-item">
        <i class="dropdown-item-icon mdi mdi-account"></i> Profile
      </a>
      <a href="{% url 'preferences' %}" class="dropdown-item">
        <i class="dropdown-item-icon mdi mdi-tune-variant"></i> Preferences
      </a>
      <a href="{% url 'token_list' %}" class="dropdown-item">
        <i class="dropdown-item-icon mdi mdi-key"></i> API Tokens
      </a>
      <hr class="dropdown-divider">
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="dropdown-item">
          <i class="dropdown-item-icon mdi mdi-logout-variant"></i> Log Out
        </button>
      </form>
    </div>
  </div>
{% else %}
  <div class="btn-group align-items-center ps-2">
    <a class="btn btn-primary" href="{% url 'login' %}?next={{ request.path }}">
      <i class="mdi mdi-login-variant"></i> Log In
    </a>
  </div>
{% endif %}
