{% extends "generic/object.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block controls %}
  {% if can_edit %}
    <div class="btn-list object-page-actions">
      <a class="btn btn-warning" href="{% url 'secret_edit' object.pk %}">
        <i class="mdi mdi-pencil" aria-hidden="true"></i>
        <span>Edit</span>
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block main %}
  <section class="card">
    <div class="card-header">
      <h3 class="card-title">Details</h3>
    </div>
    <table class="table table-hover attr-table mb-0">
      <tr>
        <th scope="row">Description</th>
        <td>{{ object.description|default:"Not set" }}</td>
      </tr>
      <tr>
        <th scope="row">Provider</th>
        <td>{{ object.get_provider_display }}</td>
      </tr>
      <tr>
        <th scope="row">Value</th>
        <td>
          {% if secret_value_error %}
            <span class="text-danger">{{ secret_value_error }}</span>
          {% elif secret_value %}
            <pre class="mb-0 small">{{ secret_value }}</pre>
          {% else %}
            Not set
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">Enabled</th>
        <td>{{ object.enabled|yesno:"Enabled,Disabled" }}</td>
      </tr>
      <tr>
        <th scope="row">Expires</th>
        <td>{{ object.expires|default:"Not set" }}</td>
      </tr>
      <tr>
        <th scope="row">Parameters</th>
        <td><pre class="mb-0 small">{{ object.parameters }}</pre></td>
      </tr>
      <tr>
        <th scope="row">Metadata</th>
        <td><pre class="mb-0 small">{{ object.metadata }}</pre></td>
      </tr>
    </table>
  </section>
{% endblock %}

{% block side %}
  <section class="card">
    <div class="card-header">
      <h3 class="card-title">Summary</h3>
    </div>
    <table class="table table-hover attr-table mb-0">
      <tr>
        <th scope="row">Scope Type</th>
        <td>{{ object.scope_type }}</td>
      </tr>
      <tr>
        <th scope="row">Scope</th>
        <td>{{ object.scope_label|default:"Not set" }}</td>
      </tr>
      <tr>
        <th scope="row">Organization</th>
        <td>{{ object.organization|default:"Not set" }}</td>
      </tr>
      <tr>
        <th scope="row">Workspace</th>
        <td>{{ object.workspace|default:"Not set" }}</td>
      </tr>
      <tr>
        <th scope="row">Environment</th>
        <td>{{ object.environment|default:"Not set" }}</td>
      </tr>
      <tr>
        <th scope="row">Last Verified</th>
        <td>{{ object.last_verified|default:"Never" }}</td>
      </tr>
      <tr>
        <th scope="row">Last Rotated</th>
        <td>{{ object.last_rotated|default:"Never" }}</td>
      </tr>
    </table>
  </section>
{% endblock %}
