{% extends "generic/object.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block controls %}
  {% if can_edit or can_delete %}
    <div class="btn-list object-page-actions">
      {% if can_edit %}
        <a class="btn btn-warning" href="{% url 'secret_edit' object.pk %}">
          <i class="mdi mdi-pencil" aria-hidden="true"></i>
          <span>Edit</span>
        </a>
      {% endif %}
      {% if can_delete and object_delete_url %}
        <a class="btn btn-danger" href="{{ object_delete_url }}">
          <i class="mdi mdi-trash-can-outline" aria-hidden="true"></i>
          <span>Delete</span>
        </a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block main %}
  <section class="card">
    <div class="card-header">
      <h3 class="card-title">Details</h3>
    </div>
    <table class="table table-hover attr-table mb-0">
      <tr>
        <th scope="row">Description</th>
        <td>{{ object.description|default:"Not set" }}</td>
      </tr>
      <tr>
        <th scope="row">Provider</th>
        <td>{{ object.get_provider_display }}</td>
      </tr>
      <tr>
        <th scope="row">Secret group</th>
        <td>
          {% if object.secret_group %}
            <a href="{% url 'secretgroup_detail' object.secret_group.pk %}">{{ object.secret_group.name }}</a>
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">Organization</th>
        <td>
          {% if object.organization %}
            <a href="{% url 'organization_detail' object.organization.pk %}">{{ object.organization.name }}</a>
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">Workspace</th>
        <td>
          {% if object.workspace %}
            <a href="{% url 'workspace_detail' object.workspace.pk %}">{{ object.workspace.name }}</a>
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">Environment</th>
        <td>
          {% if object.environment %}
            <a href="{% url 'environment_detail' object.environment.pk %}">{{ object.environment.name }}</a>
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">Value</th>
        <td>
          {% if secret_value_error %}
            <span class="text-danger">{{ secret_value_error }}</span>
          {% elif secret_value %}
            <pre class="mb-0 small">{{ secret_value }}</pre>
          {% else %}
            Not set
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">Enabled</th>
        <td>{{ object.enabled|yesno:"Enabled,Disabled" }}</td>
      </tr>
      <tr>
        <th scope="row">Expires</th>
        <td>{{ object.expires|default:"Not set" }}</td>
      </tr>
      <tr>
        <th scope="row">Parameters</th>
        <td><pre class="mb-0 small">{{ object.parameters }}</pre></td>
      </tr>
      <tr>
        <th scope="row">Metadata</th>
        <td><pre class="mb-0 small">{{ object.metadata }}</pre></td>
      </tr>
    </table>
  </section>
{% endblock %}
