{% extends "generic/_base.html" %}

{% block tabs %}
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="object-list-tab" data-bs-toggle="tab" data-bs-target="#object-list" type="button" role="tab" aria-controls="object-list" aria-selected="true">
        Results
        {% block tab_badge %}{% endblock %}
      </button>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="tab-pane show active" id="object-list" role="tabpanel" aria-labelledby="object-list-tab">
    {% block summary %}{% endblock %}
    <section class="card">
      {% block table_intro %}{% endblock %}
      <div class="table-responsive">
        {% block table %}{% endblock %}
      </div>
    </section>
  </div>
{% endblock %}
