{% extends "generic/_base.html" %}

{% block tabs %}
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="object-view-tab" data-bs-toggle="tab" data-bs-target="#object-view" type="button" role="tab" aria-controls="object-view" aria-selected="true">Details</button>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="tab-pane show active" id="object-view" role="tabpanel" aria-labelledby="object-view-tab">
    <div class="row row-cards">
      <div class="col-lg-8 stack-sm">
        {% block main %}{% endblock %}
      </div>
      <aside class="col-lg-4 stack-sm">
        {% block side %}{% endblock %}
      </aside>
    </div>
  </div>
{% endblock %}
